<nz-breadcrumb style="padding:15px 0">
  <nz-breadcrumb-item>轮播图广告</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    轮播图广告列表
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-list
[nzDataSource]="data"
[nzItemLayout]="'vertical'"
[nzRenderItem]="item"
[nzPagination]="''">
  <ng-template #item let-item>
      <nz-list-item [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction>
            <span nz-popconfirm nzTitle="是否确定删除?" (nzOnConfirm)="onDelete(item)" nzPlacement="bottomLeft" style="color: red" >
              <i class="anticon anticon-delete" style="margin-right: 8px"></i>
              删除
            </span>
          </ng-template>
          <ng-template #likeAction><a [routerLink]="'/giant/matters/list/'+item.id"><i class="anticon anticon-form" style="margin-right: 8px;"></i> 编辑</a></ng-template>
          <nz-list-item-meta
            [nzAvatar]="item.avatar"
            [nzTitle]="nzTitle">
            <ng-template #nzTitle>
              <span> 小程序首页广告轮播图 </span>
              <!-- <a class="look-map"  target="view_window" [href]="item.route[0]?.address">查看地图</a> -->
            </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="375" height="160" alt="logo" [src]="item.cover_img">
          </ng-template>
      </nz-list-item>
  </ng-template>
  <!-- <ng-template #pagination>
      <nz-pagination [nzPageIndex]="1" [nzTotal]="50"></nz-pagination>
  </ng-template> -->
</nz-list>
