
<nz-breadcrumb  style="padding:15px 0">
  <nz-breadcrumb-item>车辆管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    车辆追踪
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:20px 120px;">
  <nz-input-group nzSearch nzSize="large" [nzSuffix]="suffixButton">
    <input type="text" nz-input placeholder="请输入车辆编号" [(ngModel)]='value' >
  </nz-input-group>
  <ng-template #suffixButton>
    <button nz-button nzType="primary" nzSize="large" (click)="onClick()" nzSearch>搜索</button>
  </ng-template>
</div>
<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="seachData || data"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getData()"
  (nzPageSizeChange)="getData()">
  <thead>
    <tr>
      <th>车辆编号</th>
      <th>类型</th>
      <th>创建时间</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.bike_no}}</td>
      <td>{{data.bike_type}}</td>
      <td>{{data.create_time}}</td>
      <td>
        <a [routerLink]="'/giant/vehicle-manages/list/'+data.id">编辑</a>
        | <a [routerLink]="'/giant/vehicle-manages/track/'+data.id">查看出租轨迹</a>
        |
        <a nz-popconfirm nzTitle="是否确定删除?" (nzOnConfirm)="onDelete(data)" nzPlacement="bottomLeft" style="color: red" >
          删除
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<a href="/api/system/bike/batchQrcode" download="下载全部二维码">
  <button style="margin-top: 30px; float: right;" nz-button nzType="primary"><i class="anticon anticon-download"></i>下载全部二维码</button>
</a>

