<nz-breadcrumb style="padding:15px 0">
  <nz-breadcrumb-item>车辆管理</nz-breadcrumb-item>
  <nz-breadcrumb-item routerLink="/giant/vehicle-manages/list">
    车辆追踪
  </nz-breadcrumb-item>
  <nz-breadcrumb-item>
    {{id}}
  </nz-breadcrumb-item>
</nz-breadcrumb>
<div style="padding:20px 20px;"  *ngFor="let item of data">
  <nz-timeline>
    <nz-timeline-item>订单号：{{item.order_sn}}</nz-timeline-item>
    <nz-timeline-item>车辆编号：{{item.bike_no}}</nz-timeline-item>
    <nz-timeline-item>出发驿站：{{item.rent_station_name}}</nz-timeline-item>
    <nz-timeline-item>还车驿站：{{item.return_station_name}}</nz-timeline-item>
    <nz-timeline-item>姓名：{{item.real_name}}</nz-timeline-item>
    <nz-timeline-item>创建时间： {{item.create_time}}</nz-timeline-item>
    <nz-timeline-item>更新时间： {{item.update_time}}</nz-timeline-item>
  </nz-timeline>
</div>
