<nz-breadcrumb style="padding:15px 0">
  <nz-breadcrumb-item>驿站管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    驿站列表
  </nz-breadcrumb-item>
</nz-breadcrumb>
<nz-list
  [nzDataSource]="data"
  [nzItemLayout]="'vertical'"
  [nzRenderItem]="item"
>
  <ng-template #item let-item>
      <nz-list-item [nzActions]="[starAction,likeAction,msgAction]" [nzExtra]="extra">
          <ng-template #starAction>
            <span nz-popconfirm nzTitle="是否确定删除?" (nzOnConfirm)="onDelete(item)" nzPlacement="bottomLeft" style="color: red" >
              <i class="anticon anticon-delete" style="margin-right: 8px"></i>
              删除
            </span>
          </ng-template>
          <ng-template #likeAction>
            <a [routerLink]="'/giant/station/list/' + item.id">
              <i class="anticon anticon-form" style="margin-right: 8px;"></i> 
              编辑
            </a>
          </ng-template>
          <nz-list-item-meta
              [nzDescription]="item.address.address"
              [nzTitle]="nzTitle">
              <ng-template #nzTitle >
                <span><a style="margin-right: 15px" [routerLink]="[ '/path']">{{item.name}}</a> <nz-tag (click)="onZhiDing(item)" nzColor="magenta">置顶</nz-tag></span>
              </ng-template>
          </nz-list-item-meta>
          <ng-template #extra>
            <img width="150" height="150" alt="logo" [src]="item.cover_img">
          </ng-template>
      </nz-list-item>
  </ng-template>
</nz-list>

