<nz-layout>
  <router-outlet name="aux"></router-outlet>
  <nz-layout [ngStyle]="{'margin-left': isCollapsed ? '64px' : '182px'}">
    <nz-header style="z-index: 111; background: #fff;height:64px; position: fixed; right: 0px" [ngStyle]="{'left': isCollapsed ? '64px' : '182px'}">
      <nz-avatar class="tuxiang" [nzText]="'老王'" nzSize="large" [ngStyle]="{'background-color': '#7265e6'}"></nz-avatar>
      <button (click)="onLogout()" nz-button>登出</button>
    </nz-header>
    <nz-content class='content'>
      <router-outlet></router-outlet>
    </nz-content>
  </nz-layout>
</nz-layout>
