<nz-breadcrumb *ngIf="isHideNav" style="padding:15px 0">
  <nz-breadcrumb-item>套餐管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    新增套餐
  </nz-breadcrumb-item>
</nz-breadcrumb>

<form style="margin-top: 30px" nz-form nzLayout="horizontal" [formGroup]="validateForm" (ngSubmit)="submitForm()">
  <nz-form-item  nzFlex>
    <nz-form-label nzSpan="3" nzRequired>套餐配图</nz-form-label>
    <nz-form-control nzSpan="12">
      <app-illustration [uploadImg]="validateForm.get('cover_img').value"></app-illustration>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item  nzFlex>
    <nz-form-label nzSpan="3" nzRequired>套餐名字</nz-form-label>
    <nz-form-control nzSpan="12">
      <input [value]="validateForm.get('name').value" nz-input formControlName="name" placeholder="请输入套餐名字">
      <nz-form-explain *ngIf="validateForm.get('name').dirty && validateForm.get('name').errors">请输入套餐名字！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <nz-form-item  nzFlex>
    <nz-form-label nzSpan="3" nzRequired>车辆数量</nz-form-label>
    <nz-form-control nzSpan="12">
      <input type="number" [value]="validateForm.get('bike_count').value" nz-input formControlName="bike_count" placeholder="车辆数量">
      <nz-form-explain *ngIf="validateForm.get('bike_count').dirty && validateForm.get('bike_count').errors">请输入套餐名字！</nz-form-explain>
    </nz-form-control>
  </nz-form-item>
  <div formArrayName="interval" >
    <div *ngFor="let item of interval.controls; let i=index" [formGroupName]="i" >
      <nz-form-item nzFlex>
        <nz-form-label nzSpan="3" nzRequired>租金区间{{i === 0 ? '一' : i === 1 ? '二' : '三'}}</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-input-group nzAddOnAfter="分钟">
            <input type="number" nz-input [value]="item.get('start_time').value" formControlName="start_time" placeholder="请输入时间">
          </nz-input-group>
          <nz-form-explain *ngIf="item.get(['start_time']).dirty && item.get(['start_time']).errors">请输入租金时间！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
      <nz-form-item  nzFlex>
        <nz-form-label nzSpan="3" nzRequired>租金</nz-form-label>
        <nz-form-control nzSpan="12">
          <nz-input-group nzAddOnAfter="￥">
            <input type="number" nz-input [value]="item.get('money').value" formControlName="money" placeholder="请输入区间一租金">
          </nz-input-group>
          <nz-form-explain *ngIf="item.get(['money']).dirty && item.get(['money']).errors">请输入租金金额！</nz-form-explain>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div nz-row>
    <div nz-col nzSpan="3" style="text-align: right">套餐介绍：</div>
    <div nz-col nzSpan="20">
      <app-quill>
        {{validateForm.get('content').value}}
      </app-quill>
    </div>
  </div>
  <button [nzLoading]="loading" nz-button nzValue="large" [nzType]="'primary'" style="margin: 40px; float: right;">提交</button>
</form>




