<nz-breadcrumb style="padding:15px 0">
  <nz-breadcrumb-item>套餐管理</nz-breadcrumb-item>
  <nz-breadcrumb-item>
    套餐列表
  </nz-breadcrumb-item>
</nz-breadcrumb>

<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="data"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="getData()"
  (nzPageSizeChange)="getData()">
  <thead>
    <tr>
      <th>配图</th>
      <th>套餐名字</th>
      <th>租金区间</th>
      <th>车辆数量</th>
      <th>启用状态</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td><span class='peitu-span' (click)="showModal(data.cover_img)"><i class="anticon anticon-paper-clip ng-star-inserted"></i>配图</span></td>
      <td>{{data.name}}</td>
      <td>
        <p *ngFor="let inter of data.interval">
          <span [hidden]="!(inter.start_time && inter.money && inter.end_time)">
            <span class="price">￥{{inter.money}}</span> 收费区间：{{inter.start_time}} 分钟 至 {{inter.end_time < 9999 ? inter.end_time + '分钟' : '∞' }}
          </span>
        </p>
      </td>
      <td>{{data.bike_count}}</td>
      <td>{{data.status}}</td>
      <td>
        <a routerLink="/giant/tao-can/list-tc/{{data.id}}">
          <button nzType="primary" nz-button>编辑</button>
        </a>
        <a style="margin-left: 5px">
          <button nzType="primary" nz-button (click)="onZhiDing(data)">置顶</button>
        </a>
        <a nz-popconfirm nzTitle="是否确定删除?" (nzOnConfirm)="onDelete(data)" nzPlacement="bottomLeft" style="margin-left: 5px; color: red">
          <button nzType="danger" nz-button>删除</button>
        </a>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal nzWrapClassName="vertical-center-modal" [(nzVisible)]="isVisible"  (nzOnCancel)="handleCancel()" nzTitle="套餐配图">
  <img [src]="imgSrc" alt="套餐配图" width="100%" srcset="">
</nz-modal>
