/* You can add global styles to this file, and also import other style files */
@import "../node_modules/quill/dist/quill.snow.css";

.tangram-suggestion-main {
    z-index: 1000;
}

.introduce {
    width: 500px;
    white-space:nowrap;
    overflow:hidden;
    text-overflow:ellipsis;
}

.ant-breadcrumb-link {
    cursor: pointer;
}

.ant-layout-content {
  margin-top: 70px;
  padding: 0 20px;
}

.pay-code-img {
  text-align: center;
}

.pay-code-img img {
  width: 250px;
}

.ant-layout {
  background: #ffffff;
}
