
<app-header title="待付租金" (onSearch)="onSearch($event)" (updateData)="getOrderListApi()"></app-header>

<nz-table
  #ajaxTable
  nzShowSizeChanger
  [nzFrontPagination]="false"
  [nzData]="dataSet"
  [nzLoading]="loading"
  [nzTotal]="total"
  [(nzPageIndex)]="pageIndex"
  [(nzPageSize)]="pageSize"
  (nzPageIndexChange)="onPageIndexChange()"
  (nzPageSizeChange)="onPageIndexChange()">
  <thead>
    <tr>
      <th>用户名</th>
      <th>手机号</th>
      <th nzSortKey="rent_station_name" [nzFilterMultiple]="false" nzShowFilter [nzFilters]="stationList | async" (nzFilterChange)="filter($event)"><span>租车驿站</span></th>
      <th><span>押金付款方式</span></th>
      <th><span>押金金额</span></th>
      <th><span>租金付款方式</span></th>
      <th><span>租金金额</span></th>
      <th><span>租车次数</span></th>
      <th><span>操作</span></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let data of ajaxTable.data">
      <td>{{data.real_name}}</td>
      <td>{{data.phone}}</td>
      <td>{{data.rent_station_name}}</td>
      <td>{{data.deposit_type}}</td>
      <td>{{data.deposit_money}}</td>
      <td>{{data.rent_type}}</td>
      <td>{{data.rent_money}}</td>
      <td>{{data.user_num}}</td>
      <td>
        <span *ngIf="data.rent_type === '微信'" nz-popconfirm nzTitle="是否确定确认还车?" (nzOnConfirm)="onCreateOrder(data)" nzPlacement="bottomLeft" style="color: red" >
          <button nzType="primary" nz-button class='button'>确认还车</button>
        </span>
        <button nzType="primary" nz-button *ngIf="data.rent_type === '支付宝'" class='button' (click)="onCodePay(data)">扫码支付</button>
        <!-- <button nzType="primary" nz-button *ngIf="data.rent_type === '微信'" class='button' (click)="onCodePay(data)"></button> -->
        <button nzType="primary" nz-button *ngIf="data.rent_type === '现金'" class="button" (click)="onCodePay(data)" >现金结算</button>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-modal [nzVisible]="codeUrl" [nzTitle]="codeTitle" [nzContent]="codeContent" [nzFooter]="codeFooter" (nzOnCancel)="handlePayCodeCOk()">
  <ng-template #codeTitle>
      支付二维码
  </ng-template>
  <ng-template #codeContent>
    <ngx-qrcode
      [qrc-value]="codeUrl"
      qrc-class="pay-code-img"
    >
    </ngx-qrcode>
  </ng-template>
  <ng-template #codeFooter>
    <button nz-button nzType="primary" (click)="handlePayCodeCOk()" >确定</button>
  </ng-template>
  </nz-modal>
