<nz-upload class="avatar-uploader"
    nzAction="https://jsonplaceholder.typicode.com/posts/"
    nzName="avatar"
    nzListType="picture-card"
    [nzShowUploadList]="false"
    [nzBeforeUpload]="beforeUpload"
    (nzChange)="handleChange($event)">
    <ng-container *ngIf="!uploadImg">
      <i class="anticon anticon-plus"></i>
      <div class="ant-upload-text">上传</div>
    </ng-container>
    <img [ngStyle]="{height: height, width: width}" *ngIf="uploadImg" [src]="uploadImg" class="avatar">
    <span style="font-size: 12px">{{uploadImgMessage}}</span>
  </nz-upload>
